build-src.touch
downloads
/build\.*
images
resource

contractor/linux-installer-profiles.touch
linux-installer-profiles.touch
respkg
*.respkg
contractor/resources/var
contractor/linux-installer-profiles

*.pyc
__pycache__

external/*
